.carousel-item{
  display: flex;
  justify-content: center;
}
.react-multi-carousel-list {
  padding: 32px 8px;
}
.photos-container {
  border-radius: 16px;
  width: 97%;
  height: 100%;
}
.img-carousel .react-multiple-carousel__arrow {
  background-color: #fdfdfd;
}
.img-carousel .react-multiple-carousel__arrow--left:before,
.img-carousel .react-multiple-carousel__arrow--right:before {
  color: #2e9ca3;
}
