.container {
  display: flex;
  justify-content: space-between;
  padding: 12px 71px;
  border: 0px solid  #C5C5C5;
  background:  #FFFFFF;
}
.menu-item-selected:hover {
  border-bottom: 5px solid #29d6e7;
}
.menu ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.menu li {
  margin-right: 32px;
}
.menu-button {
  display: flex;
}
