.register-container {
  display: flex;
  flex-direction: column;
}

.title-register {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.register-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.register-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 46%;
}

.name-register {
  display: flex;
  width: 50%;
  gap: 20px;
}

.terms-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.terms-registration p {
  margin: 0;
}

.terms-registration {
  width: 23%;
}

.button-register {
  margin-left: 40px;
  width: 25.5%;
}

.register-image {
  position: absolute;
  right: 0;
  bottom: 0;
}
