.footer-container {
  display: flex;
  padding: 40px 0;
  background: #031f3d;
}
.itens-container{
  display: flex;
  justify-content: center;
  padding-left: 100px;
}
.title {
  padding: 0 40px;
}
.logo-container {
  padding-left: 100px;
}
.footer-block ul {
  list-style-type: none;
}
.footer-block li {
  padding-bottom: 8px;
  padding-right: 80px;
}
.rodape {
  display: flex;
  justify-content: center;
  text-align: center;
  background: #031f3d;
}
