.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.button-hero {
  width: 66%;
}
.hero-text-container {
  display: flex;
  flex-direction: column;
}
.hero-display-text{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hero-body-text {
  display: flex;
  flex-direction: column;
}
