.property-list-container {
  width: 48%;
}
.first-list {
  float: left;
  gap: 40px;
}
.items-property-container {
  display: flex;
  width: 100%;
}
.items-property-container ul {
  padding: 0;
  margin: 0;
}
.items-property-container li {
  list-style-type: none;
  display: flex;
  padding: 8px;
}
.list-container {
  display: flex;
}
.icon {
  padding-right: 8px;
}
.property-list {
  padding-top: 32px;
  border-top: 1px solid #c5c5c5;
}
