.carousel-container{
  padding: 0 60px;
}
.carousel-without-arrows .react-multiple-carousel__arrow {
  display: none !important;
}
.carousel-item {
  width: auto !important;
  padding-right: 16px;
}
.carousel-container{
  padding: 60px;
}
