.form-container {
  min-height: 72px;
  max-width: 360px;
  margin-left: 10px;
  width: 100%;
  border: none;
  outline: none;
  padding: 13px;

}

.input-style {
  display: flex;
  border-radius: 8px;
  height: 72px;
  width: 100%;
  padding: 13px 0 0 20px;
  
}

.input-container .icon{
  position: relative;
 
}

.input-container label {
  position: absolute;
  border: none;
  padding: 0 0 12px 20px;
  
}