.form-container {
  width: 50%;
  padding: 12px;
}

.input-style {
  display: block;
  border: none;
  outline: none;
  padding: 0; 
}

.caption {
  margin-top: 8px;
}

.icon-form{
  padding-right: 8px;
}

.input-container {
  width: 50%;
  border-radius: 8px;
  padding: 12px 20px;
}
