.banner-container {
  display: flex;
  justify-content: center;
  padding: 32px 60px;
}
.banner-content {
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}
.banner-image {
  display: flex;
  border-radius: 0 110px;
  background: var(--color-secondary, #29d6e7);
  padding: 0 12px 0 0;
  box-shadow: 10px 0 0 0 #0c4888;
}
.banner-text {
  display: flex;
  flex-direction: column;
  padding-inline: 64px;
}
.banner-icon {
  display: flex;
  padding: 0 24px;
  cursor: pointer;
}
