.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  margin-inline: 60px;
  width: 89%;
}
.banner-image {
  display: flex;
  border-radius: 0 110px;
  background: var(--color-secondary, #29d6e7);
  padding: 0 12px 0 0;
  box-shadow: 10px 0 0 0 #0c4888;
}
.banner-icon{
  padding-right: 20px;
}
