.style-infoTile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  width: 100px;
  height: 90px;
  padding: 60px;
  margin-left: 10px
}
